<template>
    <form
        @submit.prevent="addNewTodo"
        class="container"
    >
        <div class="form-group">

            <h1
                class="text-center mb-5"
                v-text=" 'Todo application' "
            />

            <input
                type="text"
                name="newTitle"
                class="form-control"
                placeholder="Add title here: "
                v-model="title"
            />

            <textarea
                class="form-control mt-4"
                aria-label="With textarea"
                placeholder="Add description here: "
                v-model="description"
            ></textarea>

            <button
                class="btn btn-success w-100 mt-5 mb-5"
                v-text=" 'Add new todo' "
            />

        </div>
    </form>
    <div
        class="container"
    >
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody
                v-for="(todo, index) in todos"
                :key="todo.id">
            <tr>
                <td>{{ todo.title }}</td>
                <td>
                    <button
                        class="btn btn-danger m-1"
                        v-text=" 'delete' "
                        @click="toggleDelete(todo.id)"
                    />

                    <router-link
                        class="card-title link-info btn"
                        :to="{name: 'showTodo', params: {todoId: todo.id}}"
                        v-text="'edit'"
                    />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            todos: [],
            description: null,
            title: null,
            loading: true
        }
    },

    methods: {
        getAxios() {
            axios.get('http://localhost:8000/api/todos')
                .then(response => {
                    this.todos = response.data.data
                })
                .finally(() => {
                    this.loading = false
                });
        },

        addNewTodo() {
            axios.post('http://localhost:8000/api/todos', {
                title: this.title,
                description: this.description
            })
                .then(() => {
                    this.title = '';
                    this.description = '';
                    this.todos = [];
                    this.getAxios();
                })
        },

        toggleDelete(id) {
            if (confirm('are you sure to delete it? ')) {
                axios.post('http://localhost:8000/api/todos/' + id, {
                    _method: 'DELETE'
                })
                    .then(() => {
                        this.todos = [];
                        this.getAxios();
                    })
            }

        }
    },
    mounted() {
        this.getAxios();
    }
}
</script>