<template>
    <div class="container">
        <h1 class="text-center">{{ todoId }} - todo</h1>
        <div class="form-group">
            <input
                type="text"
                v-model="title"
                class="form-control"
                @blur="saveTitle"
            >

            <input
                type="text"
                v-model="description"
                class="form-control mt-4 mb-4"
                @blur="saveDescription"
            >
            <router-link type="button" class="btn btn-primary" to="/todos">to home</router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'todoId'
    ],
    data: () => ({
        title: null,
        description: null,
        loading: true
    }),

    methods: {
        saveTitle() {
            axios.post('http://localhost:8000/api/todos/' + this.todoId, {
                _method: 'PUT',
                title: this.title,
            })
        },

        saveDescription() {
            axios.post('http://localhost:8000/api/todos/' + this.todoId, {
                _method: 'PUT',
                description: this.description,
            })
        }
    },
    mounted() {
        axios.get('http://localhost:8000/api/todos/' + this.todoId)
            .then(response => {
                this.title = response.data.data.title;
                this.description = response.data.data.description;
            })
            .finally(() => {
                this.loading = false
            })
    }
}
</script>
